<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CursoCreateDlg" widgetVar="CursoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCursoTitle}">
            <h:form id="CursoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cursoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCursoLabel_nome}" for="nome" />
                        <p:inputText id="nome" value="#{cursoController.selected.nome}" title="#{bundle.CreateCursoTitle_nome}" />
                        <p:outputLabel value="#{bundle.CreateCursoLabel_datainicial}" for="datainicial" />
                        <p:calendar id="datainicial" pattern="MM/dd/yyyy" value="#{cursoController.selected.datainicial}" title="#{bundle.EditCursoTitle_datainicial}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{cursoController.create}" value="#{bundle.Save}" update="display,:CursoListForm:datalist,:growl" oncomplete="handleSubmit(args,'CursoCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CursoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
