<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CursoViewDlg" widgetVar="CursoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCursoTitle}">
            <h:form id="CursoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{cursoController.selected != null}">
                        <h:outputText value="#{bundle.ViewCursoLabel_id}"/>
                        <h:outputText value="#{cursoController.selected.id}" title="#{bundle.ViewCursoTitle_id}"/>
                        <h:outputText value="#{bundle.ViewCursoLabel_nome}"/>
                        <h:outputText value="#{cursoController.selected.nome}" title="#{bundle.ViewCursoTitle_nome}"/>
                        <h:outputText value="#{bundle.ViewCursoLabel_datainicial}"/>
                        <h:outputText value="#{cursoController.selected.datainicial}" title="#{bundle.ViewCursoTitle_datainicial}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CursoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
