<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListDisciplinaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="DisciplinaListForm">
                <p:panel header="#{bundle.ListDisciplinaTitle}">
                    <p:dataTable id="datalist" value="#{disciplinaController.items}" var="item"
                                 selectionMode="single" selection="#{disciplinaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.disciplinaPK}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDisciplinaTitle_disciplinaPK_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.disciplinaPK.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDisciplinaTitle_nome}"/>
                            </f:facet>
                            <h:outputText value="#{item.nome}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDisciplinaTitle_cargahoraria}"/>
                            </f:facet>
                            <h:outputText value="#{item.cargahoraria}">
                                <f:convertDateTime pattern="HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDisciplinaTitle_curso}"/>
                            </f:facet>
                            <h:outputText value="#{item.curso.nome}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{disciplinaController.prepareCreate}" update=":DisciplinaCreateForm" oncomplete="PF('DisciplinaCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":DisciplinaViewForm" oncomplete="PF('DisciplinaViewDialog').show()" disabled="#{empty disciplinaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":DisciplinaEditForm" oncomplete="PF('DisciplinaEditDialog').show()" disabled="#{empty disciplinaController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{disciplinaController.destroy}" update=":growl,datalist" disabled="#{empty disciplinaController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
