<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="DisciplinaViewDlg" widgetVar="DisciplinaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewDisciplinaTitle}">
            <h:form id="DisciplinaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{disciplinaController.selected != null}">
                        <h:outputText value="#{bundle.ViewDisciplinaLabel_disciplinaPK_id}"/>
                        <h:outputText value="#{disciplinaController.selected.disciplinaPK.id}" title="#{bundle.ViewDisciplinaTitle_disciplinaPK_id}"/>
                        <h:outputText value="#{bundle.ViewDisciplinaLabel_nome}"/>
                        <h:outputText value="#{disciplinaController.selected.nome}" title="#{bundle.ViewDisciplinaTitle_nome}"/>
                        <h:outputText value="#{bundle.ViewDisciplinaLabel_cargahoraria}"/>
                        <h:outputText value="#{disciplinaController.selected.cargahoraria}" title="#{bundle.ViewDisciplinaTitle_cargahoraria}">
                            <f:convertDateTime pattern="HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewDisciplinaLabel_curso}"/>
                        <h:outputText value="#{disciplinaController.selected.curso}" title="#{bundle.ViewDisciplinaTitle_curso}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="DisciplinaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
