<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditUsuarioTitle}">
            <h:form id="UsuarioEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_nome}" for="nome" />
                        <p:inputText id="nome" value="#{usuarioController.selected.nome}" title="#{bundle.EditUsuarioTitle_nome}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_nome}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_senha}" for="senha" />
                        <p:inputText id="senha" value="#{usuarioController.selected.senha}" title="#{bundle.EditUsuarioTitle_senha}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_senha}"/>
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_idade}" for="idade" />
                        <p:inputText id="idade" value="#{usuarioController.selected.idade}" title="#{bundle.EditUsuarioTitle_idade}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_salario}" for="salario" />
                        <p:inputText id="salario" value="#{usuarioController.selected.salario}" title="#{bundle.EditUsuarioTitle_salario}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_matricula}" for="matricula" />
                        <p:inputText id="matricula" value="#{usuarioController.selected.matricula}" title="#{bundle.EditUsuarioTitle_matricula}" />
                        <p:outputLabel value="#{bundle.EditUsuarioLabel_disciplina}" for="disciplina" />
                        <p:selectOneMenu id="disciplina" value="#{usuarioController.selected.disciplina}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_disciplina}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{disciplinaController.itemsAvailableSelectOne}"
                                           var="disciplinaItem"
                                           itemValue="#{disciplinaItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.update}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args, 'UsuarioEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
