<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioViewDlg" widgetVar="UsuarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUsuarioTitle}">
            <h:form id="UsuarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewUsuarioLabel_usuarioPK_id}"/>
                        <h:outputText value="#{usuarioController.selected.usuarioPK.id}" title="#{bundle.ViewUsuarioTitle_usuarioPK_id}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_nome}"/>
                        <h:outputText value="#{usuarioController.selected.nome}" title="#{bundle.ViewUsuarioTitle_nome}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_senha}"/>
                        <h:outputText value="#{usuarioController.selected.senha}" title="#{bundle.ViewUsuarioTitle_senha}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_idade}"/>
                        <h:outputText value="#{usuarioController.selected.idade}" title="#{bundle.ViewUsuarioTitle_idade}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_salario}"/>
                        <h:outputText value="#{usuarioController.selected.salario}" title="#{bundle.ViewUsuarioTitle_salario}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_matricula}"/>
                        <h:outputText value="#{usuarioController.selected.matricula}" title="#{bundle.ViewUsuarioTitle_matricula}"/>
                        <h:outputText value="#{bundle.ViewUsuarioLabel_disciplina}"/>
                        <h:outputText value="#{usuarioController.selected.disciplina}" title="#{bundle.ViewUsuarioTitle_disciplina}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UsuarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
