<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>               
                <title> Faculdade Avenida </title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" 
                              closable="true" 
                              collapsible="true"
                              style="padding: 20px;">
                    <b>FACULDADE AVENIDA</b>

                </p:layoutUnit>                

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    FACULDADE AVENIDA - Todos os direitos reservados
                </p:layoutUnit>

                <p:layoutUnit position="west" size="250">
                    <p:menu>
                        <p:submenu label="Menu">
                            <p:menuitem outcome="/curso/List" value="Cursos" icon="fa fa-book" />
                            <p:menuitem outcome="/disciplina/List" value="Disciplinas" />
                            <p:menuitem outcome="/usuario/List" value="Usuários" icon="fa fa-user" />               
                        </p:submenu>                       
                    </p:menu>
                    <br />
                    <br />
                    <h:form>
                        <p:growl id="growl" life="2000" />
                        <p:commandButton value="Logout" id="nonAjax" actionListener="#{userLoginView.Logout}" ajax="false" />
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center">

                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

